.heaDer{
    padding: 0px;
    background-color: #118ab2;
    border-radius: 15px;
}

.naveGador{
   border-radius: 15px;
   background-color: #118ab2;
   padding: 8px;
   font-size: 30px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

   
   
     
}
.logo{
    border-radius: 50%;
    height:90px;
    width: 90px;
    object-fit:initial;
}
